*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:rgb(0, 87, 87);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 3%;
}

.logo-img{
    margin-top:3px;
    height:50px;
}

.menus{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
}

.menu-elements > a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 2em
}

.banner-container{
    background:url("images/background.png"),linear-gradient(45deg,rgb(0, 102, 102),rgb(0, 97, 97));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    color: white;
    
}

.banner-text > h1{
    font-size: 50px;
}

.banner-text > p{
    font-size: 20px;
    margin-top: 5px;
}

.banner-text > button {
    padding: 10px;
    margin-top: 10px;
    border: none;
}

.banner-text > button:hover {
    color:white;
    background-color: rgb(0, 61, 61);
    transform: scale(1.1);
}

.banner-image > img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: 5%;
}
